:root {
  /* Colors */
  --color-text: #272310;
  --color-bg: #fff;
  --color-gray01: #7D7775;
  --color-gray02: #e4e4e4;
  --color-mood: #f8f7f4;
  --color-main: #5B5041;
  --color-accent: #568E67;

  /* Font Size */
  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-lg: 1.125rem; /* 18px */
  --fs-xl: 1.3125rem; /* 21px */
  --fs-2xl: 1.625rem; /* 26px */
  --fs-3xl: 2rem; /* 32px */
  --fs-4xl: 2.6875rem; /* 43px */
  --fs-5xl: 4rem; /* 64px */

  /* Font Family */
  --ff-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --ff-ja: hiragino-kaku-gothic-pron, sans-serif;
  --ff-en: poppins, sans-serif;

  /* Spacing */
  --sp-xs: 0.25rem; /* 4px */
  --sp-1: 0.5rem; /* 8px */
  --sp-2: 1rem; /* 16px */
  --sp-3: 1.5rem; /* 24px */
  --sp-4: 2rem; /* 32px */
  --sp-5: 2.5rem; /* 40px */
  --sp-6: 3rem; /* 48px */

  /* Border Radius */
  --br-xs: 4px;
  --br-1: 8px;
  --br-full: 50%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: var(--ff-ja);
  font-size: var(--fs-sm);
  color: var(--color-text);
  font-weight: 300;
  line-height: 1.7;
  background-color: var(--color-bg);  
}

h2,
h3 {
  line-height: 1.4;
}

code {
  font-family: menlo, inconsolata, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
